body {
    background-color: black;
    margin:auto;
    margin-top: 10px;
    width: 1280px;
    height: 720px;
}

.hud {
    background-color: rgb(61, 61, 61);
    font-family: "Consolas";
    font-style: normal;
    font-size: 10pt;
    vertical-align: top;
}

.side-menu {
    background-color: indigo;
}

.text-screen {
    background-color: lightgreen;
}

.ascii-screen {
    background-color: gray;
}

.bottom-menu {
    background-color: saddlebrown;

}

.page-select {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.page-button {
    width: fit-content;
    height: fit-content;
}

.side-menu-title {
    height: 10pt;
    margin:auto;
    margin-top:5px; 
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.side-menu-page {
    font-size: 20pt;
    text-align: center;
    color: greenyellow;
}

.graphics {
    color: #00FF00;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#main-screen {
    font-size: 20px;
    text-align: center;
}